/* style.css */

.google {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  
  .google img {
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    max-height: 100%; /* Ensure the image doesn't exceed the container height */
  }
  
  .search-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .form-space {
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    text-align: center;

  }
  .input-form{
    width: 25%;
    margin: 0 auto;
  }
  .buttons {
    margin: 0 auto;
  }
  
  .boxes {
    display: flex;
    width: 100%;
    margin-top: 5px;
    gap: 10px;
    justify-content: center;
    
  
  }
  .box1, .box2, .box3 {
    width: 40%;
    text-align: center;
  }
  .box1 {
    display: flex;
    flex-direction: column;
    background-color: rgb(126, 229, 218);
    padding: 5px;
    justify-content: center;
    align-items: center;
    
  }
  .box2 {
    display: flex;
    flex-direction: column;
    background-color: rgb(112, 204, 194);
    padding: 5px;
    font-size: medium;
    
  }
  .box3 {
    display: flex;
    flex-direction: column;
    background-color: rgb(98, 179, 170);
    padding: 5px;
    font-size: small;
    
  }
  .update-form {
    width: 40%;
    margin: 0 auto;
  }

  .update-box {
    gap: 5px;
  }
  
  .footer {
    font-size: small;
  }